<div class="row justify-content-center align-items-center">
  <form [formGroup]="domainWhiteListForm" (submit)="save()">
    <h5>Whitelist Ips</h5>
    <div class="form-inline">
      <div formArrayName="ips">
        <div *ngFor="let item of ips.controls; let ipIndex=index" [formGroupName]="ipIndex">
          <input type="text" class="form-control my-2 mr-1" formControlName="ip" placeholder="e.g: 12.34.45.89"/>
          <span *ngIf="item.value.remove" (click)="deleteIp(item, ipIndex)">
            <i class="fa fa-minus  px-1"></i>
          </span>
          <span *ngIf="item.value.add" (click)="addIp(item, ipIndex)">
            <i class="fa fa-plus px-1"></i>
          </span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary"
            [disabled]="!domainWhiteListForm.valid || domainWhiteListForm.pristine ">Save
    </button>
  </form>
</div>
