.ip-input.ng-invalid {
  border: 1px solid red;
}


.ip-input.ng-invalid.form-control:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: red !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 16, 16, 0.25) !important;
}

.ip-input.valid-input.ng-valid.ng-dirty {
  border: 1px solid #28a745;
}


.ip-input.valid-input.ng-dirty.ng-valid.form-control:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #28a745 !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem rgba(16, 249, 30, 0.25) !important;
}


